<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ultragamma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ultragamma.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="site-header sticky-top py-1 bg-dark">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a class="py-2" href="#" aria-label="Product" style="margin-right: 15px;">
                <svg xmlns="" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
              </a>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
              </ul>
      
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
              </form>
      
              <div class="text-end">
                <form asp-action="IniciarSesion" method="post">
                    <input type="submit" class="btn btn-outline-light me-2" name="IniciarSesion" value="Iniciar Sesion" />
                </form>
                
              </div>
              <div class="text-end">
                <form asp-action="Registrate" method="post">
                    <input type="submit" class="btn btn-primary" name="Registrate" value="Registrate" />
                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="text-center text-white bg-dark">
      <footer class="py-5 container">
        <div class=" row">
          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <!--<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
            </ul>
          </div>

          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <!--<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
            </ul>
          </div>

          <div class="col-2">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <!--<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>-->
            </ul>
          </div>

          <div class="col-4 offset-1">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of whats new and exciting from us.</p>
              <div class="d-flex w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control form-control-dark" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>  
      </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
