<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos</title>
</head>
<body class ="BODY">

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lx-12 col-md-12 col-sm-12">
                <div class="TITULO">

                    <h1 align="center"><b>OBJETIVOS</b></h1>

                </div>

                <hr>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="CARD1">
                                <img src="https://thumbs.dreamstime.com/b/variedad-de-ropa-que-cuelga-en-el-estante-la-tienda-del-155598553.jpg" class="card-img-top" alt="Comunicacion">

                                <div class="card-body">

                                    <h5 class="card-title"><b>Variedad de ropa</b></h5>

                                    <p class="card-text">
                                        <b>
                                            Ofrecer una amplia selección de prendas de moda de calidad.
                                        </b>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="CARD2">
                                <img src="https://www.mundodeportivo.com/urbantecno/hero/2023/01/Descubre-cuales-son-las-mejores-webs-para-comprar-ropa-online-de-buena-calidad.jpg?width=1200" class="card-img-top" alt="Busqueda">

                                <div class="card-body">

                                    <h5 class="card-title"><b>Navegación y compra</b></h5>

                                    <p class="card-text">
                                        <b>
                                            Proporcionar una experiencia de compra conveniente y satisfactoria.
                                        </b>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="CARD3">
                                <img src="https://media.gq.com.mx/photos/61001d0d3b54691d4e5cbdcc/16:9/w_2560%2Cc_limit/tienda-ropa-moda-sostenible.jpg" class="card-img-top" alt="Profesores">

                                <div class="card-body">

                                    <h5 class="card-title"><b>Siempre actualizados</b></h5>

                                    <p class="card-text">
                                        <b>
                                            Mantenerse actualizados con las últimas tendencias y colaborar con diseñadores talentosos.
                                        </b>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="CARD4">
                                <img src="https://garajedelrock.com/wp-content/uploads/2020/04/THE-1975-3.jpg" class="card-img-top" alt="Aplicacion">

                                <div class="card-body">

                                    <h5 class="card-title"><b>Tu propio estilo</b></h5>

                                    <p class="card-text">
                                        <b>
                                            Ayudar a los clientes a expresar su estilo único a través de nuestras prendas.
                                        </b>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="CARD5">
                            <img src="https://www.marketingdirecto.com/wp-content/uploads/2021/09/atencion-al-cliente.png" class="card-img-top" alt="Estudio">

                            <div class="card-body">

                                <h5 class="card-title"><b>Atención al cliente</b></h5>

                                <p class="card-text">
                                    <b>
                                        Brindar un excelente servicio al cliente y atención personalizada.
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="CARD6">
                                <img src="https://thumbs.dreamstime.com/b/variedad-de-ropa-que-cuelga-en-el-estante-la-tienda-del-155598553.jpg" class="card-img-top" alt="Comunicacion">

                                <div class="card-body">

                                    <h5 class="card-title"><b>Variedad de ropa</b></h5>

                                    <p class="card-text">
                                        <b>
                                            Promover la autenticidad, la individualidad y la confianza en uno mismo a través de la moda.
                                        </b>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="CARD7">
                                    <img src="https://resetmarketingdigital.com/wp-content/uploads/2022/11/Ejemplos-de-comunidades-virtuales.png" class="card-img-top" alt="Comunicacion">

                                    <div class="card-body">

                                        <h5 class="card-title"><b>Variedad de ropa</b></h5>

                                        <p class="card-text">
                                            <b>
                                                Fomentar una comunidad de moda donde los clientes puedan compartir su estilo y conectarse con otros amantes de la moda.
                                            </b>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>