<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class ="BODY">

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lx-12 col-md-12 col-sm-12">
                <form>
                    <div class="TITULO">

                        <h1 align="center"><b>¿QUIENES SOMOS?</b></h1>

                    </div>

                    <hr>

                    <div class="TEXTO">

                        <p>
                            <b>
                                En Ultragamma nos apasiona la moda y ofrecemos una amplia selección de ropa de calidad. Queremos ayudarte a expresar tu estilo único. Nuestra tienda en línea está actualizada con las últimas tendencias y colaboramos con diseñadores talentosos.

                                Valoramos la autenticidad, la individualidad y la confianza en uno mismo. Explora nuestra tienda y encuentra prendas que se adapten a tu estilo de vida.

                                Gracias por ser parte de nuestra comunidad de moda. ¡Esperamos que disfrutes luciendo nuestras prendas y compartiendo tu estilo con el mundo!.
                            </b>
                        </p>

                    </div>
                </form>

                <br>
                <br>

                <div class="col-lx-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div align="center">

                            <img src="https://www.lavanguardia.com/andro4all/hero/2021/11/8-paginas-web-para-comprar-ropa-online-encuentra-las-mejores-ofertas.jpg?width=1200&aspect_ratio=16:9" class="img-fluid" alt="Equipo">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>