/* _content/Ultragamma/Views/Shared/Admin.cshtml.rz.scp.css */
.form-control-dark[b-l8g8d7zga9] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  
  .form-control-dark:focus[b-l8g8d7zga9] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
/* _content/Ultragamma/Views/Shared/_Layout.cshtml.rz.scp.css */
.form-control-dark[b-svuzc53svw] {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus[b-svuzc53svw] {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
/* _content/Ultragamma/Views/Shared/_LayoutAdmin.cshtml.rz.scp.css */
.form-control-dark[b-1bnhbeko9m] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus[b-1bnhbeko9m] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
/* _content/Ultragamma/Views/Shared/_LayoutAdmin2.cshtml.rz.scp.css */
.form-control-dark[b-qzdu2mljgl] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus[b-qzdu2mljgl] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
/* _content/Ultragamma/Views/Shared/_LayoutUsuario.cshtml.rz.scp.css */
.form-control-dark[b-z3ifkl2gqt] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus[b-z3ifkl2gqt] {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
