.Contenedor .Checkbox ul {
    list-style: none;
    display: flex;
}

    .Contenedor .Checkbox ul li {
        display: inline-block;
        margin: 0 10px;
    }

        .Contenedor .Checkbox ul li label {
            display: inline-block;
            background: white;
            border: 1px solid black;
            color: black;
            border-radius: 25px;
            transition: .2 all ease;
            padding: 8px 12px;
        }

            .Contenedor .Checkbox ul li label:hover {
                border: 2px solid black;
            }

        .Contenedor .Checkbox ul li input[type="checkbox"]:checked + label {
            background: black;
            color: white;
        }

        .Contenedor .Checkbox ul li input[type="checkbox"] {
            opacity: 0;
        }
.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

.carousel-item {
    height: 750px;
}

.Contenedor {
    display: flex;
}

    .Contenedor label {
        background: white;
        border: 1px solid black;
        color: black;
        border-radius: 25px;
        transition: .2 all ease;
        padding: 8px 12px;
    }

        .Contenedor label:hover {
            border: 1px solid black;
        }

    .Contenedor input[type="checkbox"]:checked + label {
        background: black;
        color: white;
    }

    .Contenedor input[type="checkbox"] {
        opacity: 0;
    }
